
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
     width: 100%;
     border: solid black 3px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #913f3f;
}
form{
    height: 600px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cc1010;
}
#inputone{
    height: 30px;
    width: 300px;
    margin-left: 70px;
    background-color:rgb(228, 216, 216);
}
.first{
    font-size: 20px;
    margin-top: 30px;
    color: white;
   
}
#inputtwo{
    height: 30px;
    width: 300px;
    margin-left: 70px;
    background-color:rgb(228, 216, 216);
}

#inputthree{
    height: 30px;
    width: 300px;
    margin-left: 40px;
    background-color:rgb(228, 216, 216);
}
#inputfour{
    height: 30px;
    width: 300px;
    margin-left: 1px;
    background-color:rgb(228, 216, 216);
}
#inputgender{
    height: 30px;
    width: 300px;
    margin-left: 65px;
    background-color:rgb(228, 216, 216);
}


#inputfive{
    height: 30px;
    width: 300px;
    margin-left: 42px;
    background-color:rgb(228, 216, 216);
}

#inputsix{
    height: 30px;
    width: 300px;
    margin-left: 42px;
    background-color:rgb(228, 216, 216);
}

#inputseven{
    height: 60px;
    width: 300px;
    margin-left: 60px;
    background-color:rgb(228, 216, 216);
}
#inputeight{
    height: 45px;
    width: 400px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-color:whitesmoke;
    
}
.submit{
    font-size: 30px;
    margin-top: 35px;  
}